@charset "UTF-8";
.container {
  padding-left: 50px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.container ul.error_list {
  width: 500px;
  color: crimson;
  border: 2px solid crimson;
  border-radius: 5px;
  list-style-type: none;
}

.container h3 {
  width: 80%;
  padding: 0.5em 1em;
  margin: 2em 0;
  background: #f0f7ff;
  border: dashed 2px #5b8bd0;
}

.container h4 {
  width: 80%;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: whitesmoke;
  /*背景色*/
  border-left: double 7px #4ec4d3;
  /*左線*/
  border-right: double 7px #4ec4d3;
  /*右線*/
}

.container form {
  width: 80%;
  padding: 8px 19px;
  margin: 2em 0;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}

.container form h5 {
  height: 25px;
  line-height: 25px;
  font-size: 15px;
}

.container form h5 em {
  color: red;
}

.container form input[type="text"], .container form input[type="var"] {
  display: block;
  width: calc(100% - 30px);
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  margin-bottom: 10px;
}

.container form input[type="radio"] {
  border: none;
  outline: none;
  margin-bottom: 15px;
}

.container form select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.container form button {
  display: block;
  width: 100px;
  margin-bottom: 10px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
