html, body {
  min-height: 100%;
  min-width: 100%;
}

header {
  height: 60px;
}

header nav ul {
  height: 40px;
  width: 100%;
  position: relative;
}

header nav ul li {
  height: 44px;
  width: 204px;
  overflow: hidden;
  transition: .5s all;
  position: absolute;
  top: 0;
}

header nav ul li:nth-child(1) {
  left: calc( 202px * (1 - 1 ));
}

header nav ul li:nth-child(2) {
  left: calc( 202px * (2 - 1 ));
}

header nav ul li:nth-child(3) {
  left: calc( 202px * (3 - 1 ));
}

header nav ul li:nth-child(4) {
  left: calc( 202px * (4 - 1 ));
}

header nav ul li:hover {
  height: 200px;
  z-index: 5;
}

header nav ul li:hover h5 {
  background-color: brown;
  color: aliceblue;
}

header nav ul li:hover a {
  opacity: 1;
}

header nav ul li h5 {
  height: 40px;
  width: 200px;
  display: block;
  font-size: 30px;
  text-align: center;
  border: 2px solid black;
  line-height: 40px;
}

header nav ul li a {
  height: 40px;
  width: 200px;
  display: block;
  background-color: antiquewhite;
  margin: 0 auto;
  transition: .5s all;
  opacity: 0.01;
}

header nav ul li a:hover {
  background-color: azure;
}

footer {
  margin-top: 10px;
  border-top: 2px solid black;
}

footer nav ul li {
  display: inline-block;
}
