html, body{
	min-height: 100%;
	min-width: 100%;
}

header{
    height:60px;

    nav ul{
        height: 40px;
        width: 100%;
        position: relative;
        li{
            height: 44px;
            width: 204px;
            overflow: hidden;
            transition: .5s all;
            position: absolute;
            top:0;
            @for $i from 1 through 4 {
                &:nth-child(#{$i}){
                    left: calc( 202px * (#{$i} - 1 ));
                }
            }
            &:hover{
                height: 200px;
                z-index: 5;
                h5 {
                    background-color: brown;
                    color: aliceblue;
                }
                a{
                    opacity: 1;
                }
            }
            h5{
                height: 40px;
                width: 200px;
                display: block;
                font-size: 30px;
                text-align: center;
                border: 2px solid black;
                line-height: 40px;
            }
            a{
                height: 40px;
                width: 200px;
                display: block;
                background-color:antiquewhite;
                margin: 0 auto;
                transition: .5s all;
                opacity:0.01;
                &:hover{
                    background-color:azure;
                }
            }

        }


    }
}
footer{
    min-width: 500px;
	margin-top: 10px;
    border-top: 2px solid black;
    nav ul li{
        display: inline-block;
    }
}